name: Promote Dev to Prod

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: my_site

jobs:
  promote:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Retag Dev as Prod
        run: |
          docker buildx imagetools create \
            -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:prod \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:dev